<form (ngSubmit)="salvar()">   
 
    <br/>
    <h3>{{titulo}}</h3>
 
    <label>Id:
        <input type="input" name="id" size="10" [(ngModel)]="pessoa.id" disabled/>
    </label><br/><br/>
 
    <label>Nome:
        <input type="input" name="nome" size="30" [(ngModel)]="pessoa.nome"/>
    </label><br/><br/>

    <label>Data Nascimento:
        <input type="input" name="dataNascimento" size="30" [(ngModel)]="pessoa.dataNascimento"/>
    </label><br/><br/>

    <label>Cpf:
        <input type="input" name="cpf" size="30" [(ngModel)]="pessoa.cpf"/>
    </label><br/><br/>

    <label>E-mail:
        <input type="input" name="email" size="30" [(ngModel)]="pessoa.email"/>
    </label><br/><br/>
 
    <button type="submit">Salvar</button>
</form>